@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .app-gradient {
    background-image: linear-gradient(
      to top,
      #0c3483 0%,
      #a2b6df 100%,
      #6b8cce 100%,
      #a2b6df 100%
    );
  }
}
